@import 'tailwindcss';

@theme {
  /* Font family */
  --font-sans:
    'Inter Variable', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  /* Border radius */
  --radius-DEFAULT: 8px;
  --radius-secondary: 4px;
  --radius-container: 12px;

  /* Box shadow */
  --shadow-DEFAULT: 0 1px 4px rgba(0, 0, 0, 0.1);
  --shadow-hover: 0 2px 8px rgba(0, 0, 0, 0.12);

  /* Colors */
  --color-primary: #4f46e5;
  --color-primary-hover: #4338ca;
  --color-secondary: #6b7280;
  --color-secondary-hover: #4b5563;
  --color-accent: #8b5cf6;
  --color-accent-hover: #7c3aed;

  /* Spacing */
  --spacing-form-field: 16px;
  --spacing-section: 32px;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  --color-light: #ffffff;
  --color-dark: #171717;
}

.accent-text {
  @apply text-slate-600;
}

body {
  font-family: var(--font-sans);
  color: var(--color-dark);
  background: var(--color-light);
}

/* only use this to update the style of the auth input fields. use a different class for all other input fields */
.auth-input-field {
  @apply w-full px-4 py-3 rounded-container bg-white border border-gray-200 focus:border-primary focus:ring-1 focus:ring-primary outline-hidden transition-shadow shadow-xs hover:shadow;
}

/* only use this to update the style of the auth buttons. use the button class for all other buttons */
.auth-button {
  @apply w-full px-4 py-3 rounded bg-primary text-white font-semibold hover:bg-primary-hover transition-colors shadow-xs hover:shadow disabled:opacity-50 disabled:cursor-not-allowed;
}
